/* Импортируем шрифт Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.Form {
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: white;
  color: #000;
}

.anketa {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  color: #000;
  overflow-y: auto;
  max-height: 90%;
}

.p {
  font-size: 32px;
  text-align: center;
}

.question-container {
  margin-bottom: 20px;
}

.question-input,
.question-select,
.question-textarea,
.slider,
.option-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  margin-bottom: 10px;
}

.question-input::placeholder,
.question-textarea::placeholder,
.question-select {
  color: #0000008e;
}

.option-container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.option-checkbox {
  margin-right: 10px;
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #4caf50;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.option-checkbox:checked {
  background-color: #4caf50;
}

.option-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 25%, 80% 0%, 43% 62%);
}

.small-button,
.remove-question-button,
.add-question-button,
.submit-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  color: #474747;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(142, 142, 142, 0.3);
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px; /* Добавляем отступ сверху для всех кнопок */
}

.small-button {
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.small-button:hover,
.remove-question-button:hover,
.add-question-button:hover,
.submit-button:hover {
  background-color: #4caf50;
  color: #fff;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.slider-value {
  margin-left: 10px;
  display: inline-block;
}
